# ── Fichiers spécifiques au hardware ────────────────────────────────────────
.config/hypr/monitors.lua        # à reconfigurer sur chaque machine

# ── Fichiers générés dynamiquement par matugen ──────────────────────────────
.config/rofi/colors.rasi
.config/matugen/templates/*.generated
.config/kitty/current-theme.conf
.config/kitty/kitty.conf.bak

# ── Données runtime / cache ─────────────────────────────────────────────────
.config/wayle/runtime.toml
.config/wayle/schema.json
.config/wayle/config.toml.example
.config/wayle/tombi.toml

# ── Fastfetch : historique git interne ──────────────────────────────────────
.config/fastfetch/.git/

# ── Fichiers de sauvegarde ──────────────────────────────────────────────────
*.bak
*~

# ── Nouveaux fichiers générés par matugen ─────────────────────────────────
.config/gtk-3.0/colors.css
.config/gtk-4.0/colors.css
.config/hypr/hyprlock/colors.conf
.config/sddm-theme/theme.conf
.config/hypremoji/style.css

# ── Fichiers privés et historiques ──────────────────────────────────────────
.config/gtk-3.0/bookmarks
.config/clipse/clipboard_history.json
.config/clipse/clipse.log
.config/clipse/tmp_files/
.config/hypremoji/recents.json
